<section class="jumbotron home">
  <h1 class="text-center"><%= t '.welcome' %></h1>
  <div class="row text-center">
    <div class="col-md-4 col-sm-5 col-md-offset-2 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <%= link_to new_user_registration_path, class: 'btn-register' do %>
        <i class="fa fa-child fa-lg"></i><%= t '.btn_user' %>
      <% end %>
    </div>
    <div class="col-md-4 col-sm-5 col-xs-10 col-xs-offset-1">
      <%= link_to ngos_sign_up_path, class: 'btn-register' do %>
        <i class="fa fa-users fa-lg"></i> <%= t '.btn_ngo' %>
      <% end %>
    </div>
  </div>
</section>
